/* Link{
    color: #fff;
    text-decoration: none;
} */

/* Default styling for the paragraph */
/* .card-paragraph {
  color: white;
  font-size: 1rem;
} */

/* Media query for small screens */
/* @media (max-width: 768px) {
  .card-paragraph {
    display: none;
  }
} */
